{% extends 'base.html' %}

{% block body %}
    {% if messages %}
    <ul>
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    </ul>
    {% endif %}
    <div class="info-order">
        <h2>Ваше замовлення підтверджено.</h2>
        <div class="table-order">
            <table>
                <tr class="first-row">
                    <th>Товар</th>
                    <th>Ціна</th>
                    <th>Кількість</th>
                    <th>Вартість</th>
                </tr>
                {% for item in order.products.all %}
                <tr class="product-row">
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }} ГРН</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.total_price }} ГРН</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <a href="{% url 'home'%}" class="back-to-cart">На головну</a>
{% endblock %}