{% extends 'base.html' %}

{% block body %}
    <h2>Створення замовлення</h2>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container">
        <div class="form">
            <form method="post">
                {% csrf_token %}
                <h3>Деталі замовлення</h3>
                {{ create_order_form.as_p }}
                <button type="submit">Підтвердити замовлення</button>
            </form>
        </div class="container">
    </div class="form">
    
    <a href="{% url 'detail_cart' username=request.user.username %}" class="back-to-cart">Назад до кошика</a>
{% endblock %}