<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>

<body>
    <div class="auth-container">
        <div class="auth-form">
            <h2>Увійти</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-login">Увійти</button>
            </form>
            <p class="auth-link">
                <a href="{% url 'signup' %}">Зареєструватися</a>
                <br>
                <a href="{% url 'password_reset' %}">Забули пароль?</a>
            </p>
        </div>
    </div>
</body>

</html>