{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <form method="post" class="form">
            <h2>Зареєструватися</h2>
            {% csrf_token %}
            {{signup_form.as_p}}
            <small class="helptext">{{ form.password1.help_text }}</small>
            <button type="submit" class="btn-register">Зареєструватися</button>
        </form>
        <div class="link">
            <p>Вже маєте аккаунт? <a href="{% url 'login' %}">Увійти</a></p>
        </div>
    </div>
{% endblock %}